html,body,header {
    margin: 0;
    padding: 0;
}
.header-container {
    text-align: center;
    padding: 10px;
    color: white;
    background-color: gray;
}
.nav-container {
    margin-top: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 3px;
    background-color: black;
    color: white;
    font-weight: bold;
}
.nav-container > li {
    display: inline;
    justify-content: center;
    list-style-type: none;
}